#root {
	width: 100%;
}

.support-form {
	width: 665px;
	display: block;
	margin: auto;
	margin-top: 122px;
	display: flex;
	display: -webkit-flex;	
	background-color: #FFFFFF;
	font-family: Montserrat;
	font-stretch: normal;
  	font-style: normal;
  	letter-spacing: normal;
}


.support-member-block {
	width: 175px;
	margin-right: 70px;

}

.assistant-img{
	display: flex;
	margin: auto;
}

.assistant-name {
	width: 100%;
	font-size: 0.9em;
	text-align: center;
	margin: 12px 0px 6px 0px;
}

.support-msg {
	width: 100%;
	font-size: 0.8em;
 	color: #58627d;
 	text-align: center;
 	margin: 0px;
}



.user-feedback {
	border: 0;
	width: 350px;
	display: flex;
	flex-direction: column;
	display: -webkit-flex;	
	background-color: #FFFFFF;
	font-family: Montserrat;
}

.contact-header {

  	font-size: 1.5em;
  	font-weight: bold;
  	width: 100%;
  	margin: 0px 0px 8px 0px;
}

.contact-information {
  	width:100%;
  	font-size: 0.9em;
  	margin: 0px 0px 31px 0px;
  	line-height: 1.6;
}



.email-wrap {
	width:100%;
  	color: #788bae;
  	display: flex;
  	flex-direction: column;
  }

  .email-header, .message-header {
  	width:100%;
  	font-size: 0.8em;
    color: #788bae;
	
}

.email-header {
	margin-bottom: 7px;
}

.message-wrap {
	width: 100%;
	display: flex;
  	flex-direction: column;
}

input:focus, textarea:focus {
	outline-color: #ABDAFB;
}

.message-header {
	margin: 15px 0px 7px 0px;
}

.email, .message {
  	border-radius: 4px;
  	border: solid 1px #e2eaf9;
  	background-color: #ffffff;
}


.email {
  	font-size: 1em;
  	padding: 8px 10px 8px 12px;
  	color: #0b1f48;

}

.message {
	padding-left: 12px;
	padding-right: 10px;
	font-size: 1em;
  	color: #0b1f48;
	resize: none;
	white-space: pre-line;
	white-space: pre-wrap;
	height: 15rem;
}


.button-wrap{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	margin-top: 24px;
}
.button {
	border-radius: 6px;
	border-style: none;
    background-color: #00bdc1;
    color: #ffffff;
    width: auto;
    line-height: 1.2;
    font-size: 1em;
    font-weight: bold;
    padding: 8px 28px 10px;
}

.button:hover {
	background-color: #06a3ae;
}



.error {
  font-size: 0.8em;
  color: #cc0000;
  margin-top: 15px;
  margin-bottom: 12px;
}

.email-support-wrap {
	width: 100%;
	display: flex;
	margin-top: 20px;
	border-top: 0.1em solid #f0f4fa;

}

.contact-support-text {
	width: 60%;
	margin:20px 0px 0px 0px;
	font-size: 0.8em;
	line-height: 1.54;
	color: #58627d;
}

.contact-support-email {
	width:40%;
	display: flex;
	margin: auto;
	font-size: 0.8em;
	color: #0b1f48;
	text-decoration: none;
	justify-content: flex-end;
	align-self: center;
	margin: 20px 0px 0px 0px;
}

